#header {
  background-color: #5b6265;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;

}

h2 {
  text-transform: uppercase;
}


.biopic {
  width: 50%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;

}

.content {

  background-image:
    linear-gradient(
      #81878a, #263137
    );

  color: #fff;

  padding: 20px;
}

.about-me h2 {
  padding-top: 20px;
  margin: 0;
}

.white-text {
  color: #8c948c;
}

.about-me span, .skills span {

  color: #d0d0d0;
}

.project-page {
  background-color: #d2d2d2;
}

.work-entry p {
  margin: 0;
  padding: 0;
  line-height: 15px;
  padding-left: 20px;
}


.img-project {

  max-width: 100%;    
}
